/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.added-note > .note-content {display: none;}

.red {
  color:#df696e;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.add-note-text{
  float: left;
    width: 100%;
    text-align: center;
}
.text-note{
  font-size:24px;
  font-weight: bold;
  color: #757575;
}
/*.page-footer{
   position: absolute;
    width: 100%;
    bottom: 0px;
}*/
/*.page-footer {
    padding-top: 20px;
    color: #fff;
    float: left;
    background-color: #ee6e73;
    width: 100%;
}*/
.page-footer {
    padding-top: 0;
    color: #fff;
    float: left;
    background-color: #ee6e73;
    width: 100%;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}
.section.no-pad-bot {
    padding-bottom: 50px;
}
.about-us{
  padding: 0px !important;
  text-align: left !important;
  margin-bottom: 20px;
  float: left;
  width: 100%;
}
.swal-text {line-height: 1.5;}
@media only screen and (max-width: 1160px) {
  .main-wrap{width: 45% !important;}
}

@media only screen and (max-width: 800px) {
  .main-wrap{width: 100% !important;}
}